
.logoimg{
    margin: 24.9px 0px 0px 0px;

}

body, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav{
    width: 380px;
    padding: 31.50px 0px 0.50px 0px;
}

.navone {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: [start] 78px [line1] 93px [line2] 80px [line3] 95px [line4] 90px [end];
    justify-content: start;
    align-content: space-between;
    align-items: center;
}

.navone > li {

    line-height: 28px;
    text-align: center;
    white-space: nowrap;
}

a{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: black;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    
}

.bolnav{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: #3563e9;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    

}

a:hover {
    color:#dd1506;/*добавляем эффект при наведении*/
}
.centerone{
    margin: 0px auto 0px;
    width: 1200px;
}

.container {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: [start] 372px [line2] 665px [line3] 71px [line4] 40px [end];
}

.language{
    margin: 29.5px 0px 0px 0px;
    width: 53px;
    height: 24px;
}

a.button {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(53 99 233); /* фон кнопки */
    padding: 8px 22px 8px 22px; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 5px;
    width: 50px;
    height: 18px;
    margin: 25px 12px 25px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.buttoncenter {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(53 99 233); /* фон кнопки */
    padding: 11px 25px 8px 25px; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    /* border-radius: 5px; */
    /* width: 50px;
    height: 18px; */
    margin: 25px 12px 25px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.buttoncentertwo {
    color: #3563e9; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    /* background: rgb(53 99 233); фон кнопки */
    padding: 11px 25px 8px 25px; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    /* border-radius: 5px; */
    /* width: 50px;
    height: 18px; */
    margin: 25px 12px 25px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-color: #3563e9;
    background-color: white;
}

a.button:hover { 
    background: rgb(232,95,76); 
} /* при наведении курсора мышки */

a.buttoncenter:hover { 
    background: rgb(232,95,76); 
} /* при наведении курсора мышки */

a.buttoncentertwo:hover { 
    background: rgb(232,95,76); 
} /* при наведении курсора мышки */

a.button:active { 
    background: rgb(152,15,0); 

}

a.buttoncenter:active { 
    background: rgb(152,15,0); 

}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.secmain{
    background-image: url(../img/bacgaundone.png);
    width: 1200px;
    height: 730px;
}

.secmain p:nth-child(-n+2){
/* font-family: 'Acumin Pro', sans-serif; */

/* Arcu suscipit massa aliquam proin amet */

/* width: 974px; */
/* height: 154px; */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
text-align: center;
letter-spacing: 1.2px;
text-transform: capitalize;

/* systemGrey/900 */
color: #212121;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px 0px 0px;

}


.secmain p:nth-child(1n+3){

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* text-align: center; */
letter-spacing: 0.2px;

/* systemGrey/800 */
color: #424242;

}

#topmain{
padding-top: 195.5px;
}

.container-2{
	width: 1200px;
	height: auto;
}

.head-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	width: 1200px;
	height: 240px;
}

.subhead-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 32px;
	width: 952px;
	height: 184px;
}

.main-text-2{
	max-width: 952px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 56px;
	line-height: 68px;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #212121;
	margin: 24px 0px 0px;
}

.text-2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	color: #757575;
	display: flex;
	align-items: center;
	text-align: center;
}

.image-video{
	margin: 60px 0px 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 926px;
	height: 520px;
	background: #EFF3FD;
}
.container-3{
	width: 1200px;
	height: auto;
	margin: 0px auto 0px;
	display: flex;
	flex-direction: row;
}
.left-block{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 626px;
	height: 695px;
	margin: 80px 0px 80px;
}

.head-3{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 562px;
	height: 164px;
}

.header-3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
	width: 521px;
	height: 116px;
}
.main-text-3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #212121;
}
.text-3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #757575;
}
.image-pictire{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 626px;
	height: 491px;
	margin: 40px 0px 80px;

	background: #EFF3FD;
}
.right-block{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 508px;
	height: 695px;
	margin: 80px 0px 80px 66px;
}
.paragraph-1, .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px;
	gap: 22px;

	width: 508px;
	height: 123px;
}
.bold-text{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	margin: 10px 10px 0px 0px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #212121;
}
.text-3-1{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
	margin: 16px 0px 0px 0px;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #616161;
}
.indent{
	margin: 10px 0px 0px 10px;
}



.clients, .users, .usersInfo, .stars, .callToAction{
    display: flex;
}

.clients{
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1440px;
    margin: auto;
}

.text2{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24.2px;
    color: dimgrey;
    width: 398px;
    text-align: center;
    margin: auto;
}

.text1{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58.09px;
    width: 952px;
    margin-top: 80px;
    text-align: center;
}

.users{
    width: 1094px;
    margin: auto;
    margin-top: 40px;
}

.usersInfo{
    width: 1054px;
    margin: 20px;
}

.img{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.img1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 42px;
}

.user{
    width: 414px;
    height: 323px;
    margin-left: 42px;
}

.firstStar{
    width: 20px;
    height: 19.02px;
    margin: auto;
    margin-right: 6px;
}

.star{
    width: 20px;
    height: 19.02px;
    margin: auto;
    margin-left: 6px;
    margin-right: 6px;
}

.lastStar{
    width: 20px;
    height: 19.02px;
    margin: auto;
    margin-left: 6px;
}

.comment{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
    height: 128px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
}

.avatar{
    width: 40px;
    height: 40px;
    margin-top: 27px;
    margin-left: 187px;
    margin-right: 187px;
}

.username{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16.94px;
    color: dimgray;
    text-align: center;
    margin-top: 8px;
    margin-left: 152px;
    margin-right: 152px;
}

.callToAction{
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1440px;
    margin: auto;
}

.information{
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.callToActionText{
    margin-top: 60px;
    margin-left: 124px;
    margin-right: 124px;
}

.actionText1{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24.2px;
    color: dimgrey;
    text-align: center;
    margin: auto;
    margin-left: 342px;
    margin-right: 342px;
}

.actionText2{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58.09px;
    width: 952px;
    text-align: center;
    margin-top: 24px;
}

.actionButton{
    width: 230px;
    margin-top: 48px;
    margin-left: 485px;
    margin-bottom: 140px;
}


*,*::before, *::after {
    box-sizing: inherit;
  }
  .container_footer{width: 1200px;
margin: auto;

}
  
  .header {

    margin: auto;
  }
  
  .wrapper {
    padding: 80px;
    align-items: center;
    text-align: center;
  }
  
  .intro-title {
    margin: auto;
    max-width: 952px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #212121;
    padding: 0px;
    flex-direction: column;
  }
  
  .intro-subtitle {
    margin: 16px auto;
    max-width: 839px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #757575;

  }
  
  .wrapper_ac {
display: flex;   
align-items: center;  
flex-direction: column;
padding: 80px;
  }
  
  .accordion {
    display: flex;
    font-family: 'Inter', sans-serif;
    max-width: 843px;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #000000;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .active, .accordion:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .panel {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #757575;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: visible;
  }
  
  img {
    border: none;
  }
  
  .footer {
    width: 100%;
    background: #3563E9;
  }
  
  .wrapper1 {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
 
  }
  
  .footer-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 15px;
    width: 198px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 6px 0px 0px 6px;
  }
  
  .footer-links {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 61px;
    width: 1078px;
    height: 256px;
    justify-content: space-between;
    padding-right: 61px;
    margin: 100px 120px;
  }
  
  .footer-link {
    display: flex;
    flex-direction: column;
  }
  
  .footer-link p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .footer-link a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
    margin-bottom: 13px;
  }
  
  .cnttext {
    max-width: 338px;
    height: 256px;
    background: #2851E3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 48px 30px 42px;
  }
  
  .cnttext P {
    margin: 0px;
    margin-bottom: 18px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .info_sub {
    font-family: 'Inter', sans-serif;
    width: 254px;
    height: 82px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.7;
  }
  
  .wrapper_logo {

   
display: flex;
   
flex-direction: row;
   
align-items: center;
   
align-content: center;
   
justify-content: center;
  }
  
  .conteiner_logo {
    width: 135px;

    display: inline-block;
  }
  
  .divider {

    border-top: 1px solid #FFFFFF;
  }
  
  .group {
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-content: center; 
    justify-content: space-between; 
    padding: 22.5px 0px; 
    align-items: center;
  }
  
  .group_elements {
    display: flex;

    justify-content: space-between;
    flex-direction: row;
  }
  
  .element-link a {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
  }
  
  span.footer-search_button:before {
    content: "";
    position: absolute;
    background: url(./svg/sq.svg);
    width: 50px;
    height: 50px;
  }
  
  span.footer-search_button {
    background: #3563E9;
    border-radius: 0px 6px 6px 0px;
    width: 50px;
   
  }
  p.subscribe {
    display: flex;
    margin: 0px;
    margin-bottom: 18px;
  }

  .element-link {
    display: flex;
    justify-content: space-between;
}

