
/* CSS */
/* :root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
} */

.logoimg{
    margin: 24.9px 0px 24.9px 56px;

}

body, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav{
    width: 380px;
    padding: 31.50px 0px 31.50px 0px;
}

.navone {
    width:100%;

    height:40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 20%));
}

.navone > li {

    line-height: 28px;
    text-align: center;
    white-space: nowrap;
}

a{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: black;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    
}

.bolnav{
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: #3563e9;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    

}

a:hover {
    color:#dd1506;/*добавляем эффект при наведении*/
}
.centerone{
    margin: 0px auto 0px;
    width: 1200px;
}

.container {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: [start] 372px [line2] 614px [line3] 71px [line4] 40px [end];
}

.language{
    margin: 29.5px 0px 0px 0px;
    width: 53px;
    height: 24px;
}

a.button {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(53 99 233); /* фон кнопки */
    padding: 11px 19px 8px 18px; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 5px;
    width: 50px;
    height: 18px;
    margin: 25px 12px 25px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.buttoncenter {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(53 99 233); /* фон кнопки */
    padding: 11px 25px 8px 25px; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    /* border-radius: 5px; */
    /* width: 50px;
    height: 18px; */
    margin: 25px 12px 25px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.buttoncentertwo {
    color: #3563e9; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    /* background: rgb(53 99 233); фон кнопки */
    padding: 11px 25px 8px 25px; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    /* border-radius: 5px; */
    /* width: 50px;
    height: 18px; */
    margin: 25px 12px 25px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-color: #3563e9;
    background-color: white;
}

a.button:hover { 
    background: rgb(232,95,76); 
} /* при наведении курсора мышки */

a.buttoncenter:hover { 
    background: rgb(232,95,76); 
} /* при наведении курсора мышки */

a.buttoncentertwo:hover { 
    background: rgb(232,95,76); 
} /* при наведении курсора мышки */

a.button:active { 
    background: rgb(152,15,0); 

}

a.buttoncenter:active { 
    background: rgb(152,15,0); 

}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.secmain{
    background-image: url(../img/bacgaundone.png);
    width: 1200px;
    height: 730px;
}

.secmain p:nth-child(-n+2){
/* font-family: 'Acumin Pro', sans-serif; */

/* Arcu suscipit massa aliquam proin amet */

/* width: 974px; */
/* height: 154px; */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
text-align: center;
letter-spacing: 1.2px;
text-transform: capitalize;

/* systemGrey/900 */
color: #212121;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px 0px 0px;

}


.secmain p:nth-child(1n+3){

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* text-align: center; */
letter-spacing: 0.2px;

/* systemGrey/800 */
color: #424242;

}

#topmain{
padding-top: 195.5px;
}

.container-2{
	width: 1200px;
	height: auto;
}

.head-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	width: 1200px;
	height: 240px;
}

.subhead-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 32px;
	width: 952px;
	height: 184px;
}

.main-text-2{
	max-width: 952px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 56px;
	line-height: 68px;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #212121;
	margin: 24px 0px 0px;
}

.text-2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	color: #757575;
	display: flex;
	align-items: center;
	text-align: center;
}

.image-video{
	margin: 60px 0px 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 926px;
	height: 520px;
	background: #EFF3FD;
}
.container-3{
	width: 1200px;
	height: auto;
	margin: 0px auto 0px;
	display: flex;
	flex-direction: row;
}
.left-block{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 626px;
	height: 695px;
	margin: 80px 0px 80px;
}

.head-3{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 562px;
	height: 164px;
}

.header-3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
	width: 521px;
	height: 116px;
}
.main-text-3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #212121;
}
.text-3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #757575;
}
.image-pictire{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 626px;
	height: 491px;
	margin: 40px 0px 80px;

	background: #EFF3FD;
}
.right-block{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 508px;
	height: 695px;
	margin: 80px 0px 80px 66px;
}
.paragraph-1, .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px;
	gap: 22px;

	width: 508px;
	height: 123px;
}
.bold-text{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	margin: 10px 10px 0px 0px;
	display: flex;
	align-items: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #212121;
}
.text-3-1{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
	margin: 16px 0px 0px 0px;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #616161;
}
.indent{
	margin: 10px 0px 0px 10px;
}